<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Camera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camera</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">Camera</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <script>
      document.addEventListener("deviceready", onDeviceReady, false);
      function onDeviceReady() {
          console.log(navigator.camera);
      }
    </script>
  </div>
  
  <ion-grid *ngIf="display">
    <ion-row>
    <ion-col size="6">
      <ion-img [src]="image" [alt]="alt" (ionError)="failedImageLoad()"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>

  

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takepic()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
